# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# Rendered reports
04_syntax/*.html
04_syntax/*.docx
04_syntax/*.pdf
docs/*.html
docs/*.docx
docs/*.pdf

# output files
output/

# knitr and R markdown default cache directories
/04_syntax/cache/
/04_syntax/figures/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# RStudio
.Rproj.user

# Ethical approval
/01_Ethics_application_and_approval

# Questionnaire
/02_Research_materials

# Final paper
/paper
